*{
  margin: 0;
}


h1 {
  font-family: 'Jomhuria', cursive;

}

.extrasContainer{
  position: fixed;
  width: 250px;
  height: 180px;
  top: 0;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 30px;
  font-size: 20px;
}

.extrasContainer input{
  width: 2em;
}


  
