.header{
    display:flex;
    justify-content: space-evenly;
    width: 220px;
}

select{
    margin-top: 80px;
    width: 85px;
    font-size: 20px;
    margin-left: 30px;
}

.mesero{
    width: 120px;
}